<h1 class="display-4 text-primary">Login</h1>
<%= form_with(url: {controller: "tops", action: "index"}) do |f| %>
<div class="form-group">
  <label for="login_id">login_id</label>
  <%= f.text_field("login_id",{class:"form-control"}) %>
  <label for="pass">password</label>
  <%= f.text_field("pass",{class:"form-control"}) %>
</div>
<%= f.submit("Crick") %>
<% end %>