<h1>全ての写真</h1>

<div class="flex-4">
  <% @pictures.each do |picture| %>
    <%= image_tag "#{picture.place}" %>
  <% end %>
</div>

<div class="over">
  <%= link_to ("/pictures/studenthome") do %>
    <button> 　　ホームに戻る 　　</button>
  <% end %><br>
<div class="over">