<%= javascript_pack_tag 'pictures/application' %>
<%= stylesheet_link_tag "myupphoto", :media => "all" %>
<h1>ＭＹ ＵＰ ＰＨＯＴＯ</h1>
<%=link_to("studenthome") do %>
    <button>ホーム</button><br>
<%end%>

<%= link_to '削除',method: :destroy, data: { confirm: 'Are you sure?' } %>
<div class="table-wrap">
  <div id="main">
    <ul class="image-list">
      <li>
        <div class="image-box">
          <img class="image" src="/assets/OIP.jpg" alt="foo">
          <input class="disabled-checkbox" type="checkbox" onclick="return false">
        </div>
      </li>
      <li>
        <div class="image-box">
          <img class="image" src="/assets/download.jpg" alt="foo">
          <input class="disabled-checkbox" type="checkbox" onclick="return false">
        </div>
      </li>
      <li>
        <div class="image-box">
          <img class="image" src="/assets/OIP2.jpg" alt="foo">
          <input class="disabled-checkbox" type="checkbox" onclick="return false">
        </div>
      </li>
      <li>
        <div class="image-box">
          <img class="image" src="/assets/OIP3.jpg" alt="foo">
          <input class="disabled-checkbox" type="checkbox" onclick="return false">
        </div>
      </li>
      <li>
        <div class="image-box">
          <img class="image" src="/assets/OIP5.jpg" alt="foo">
          <input class="disabled-checkbox" type="checkbox" onclick="return false">
        </div>
      </li>
      <li>
        <div class="image-box">
          <img class="image" src="/assets/OIP6.jpg" alt="foo">
          <input class="disabled-checkbox" type="checkbox" onclick="return false">
        </div>
      </li>
      <li>
        <div class="image-box">
          <img class="image" src="/assets/OIP7.jpg" alt="foo">
          <input class="disabled-checkbox" type="checkbox" onclick="return false">
        </div>
      </li>
      <li>
        <div class="image-box">
          <img class="image" src="/assets/OIP8.jpg" alt="foo">
          <input class="disabled-checkbox" type="checkbox" onclick="return false">
        </div>
      </li>
      <li>
        <div class="image-box">
          <img class="image" src="/assets/OIP9.jpg" alt="foo">
          <input class="disabled-checkbox" type="checkbox" onclick="return false">
        </div>
      </li>
      <li>
        <div class="image-box">
          <img class="image" src="/assets/OIP.jpg" alt="foo">
          <input class="disabled-checkbox" type="checkbox" onclick="return false">
        </div>
      </li>
      <li>
        <div class="image-box">
          <img class="image" src="/assets/OIP8.jpg" alt="foo">
          <input class="disabled-checkbox" type="checkbox" onclick="return false">
        </div>
      </li>
      <li>
        <div class="image-box">
          <img class="image" src="/assets/OIP2.jpg" alt="foo">
          <input class="disabled-checkbox" type="checkbox" onclick="return false">
        </div>
      </li>
      <li>
        <div class="image-box">
          <img class="image" src="/assets/OIP6.jpg" alt="foo">
          <input class="disabled-checkbox" type="checkbox" onclick="return false">
        </div>
      </li>
      <li>
        <div class="image-box">
          <img class="image" src="/assets/OIP3.jpg" alt="foo">
          <input class="disabled-checkbox" type="checkbox" onclick="return false">
        </div>
      </li>
      <li>
        <div class="image-box">
          <img class="image" src="/assets/OIP7.jpg" alt="foo">
          <input class="disabled-checkbox" type="checkbox" onclick="return false">
        </div>
      </li>
      <li>
      <div class="image-box">
        <img class="image" src="/assets/OIP2.jpg" alt="foo">
        <input class="disabled-checkbox" type="checkbox" onclick="return false">
      </div>
    </li>
    <li>
      <div class="image-box">
        <img class="image" src="/assets/OIP8.jpg" alt="foo">
        <input class="disabled-checkbox" type="checkbox" onclick="return false">
      </div>
    </li>
    <li>
      <div class="image-box">
        <img class="image" src="/assets/OIP9.jpg" alt="foo">
        <input class="disabled-checkbox" type="checkbox" onclick="return false">
      </div>
    </li>
    <li>
      <div class="image-box">
        <img class="image" src="/assets/OIP5.jpg" alt="foo">
        <input class="disabled-checkbox" type="checkbox" onclick="return false">
      </div>
    </li>
    <li>
      <div class="image-box">
        <img class="image" src="/assets/OIP3.jpg" alt="foo">
        <input class="disabled-checkbox" type="checkbox" onclick="return false">
      </div>
    </li>
    <li>
      <div class="image-box">
        <img class="image" src="/assets/download.jpg" alt="foo">
        <input class="disabled-checkbox" type="checkbox" onclick="return false">
      </div>
    </li>
    <li>
      <div class="image-box">
        <img class="image" src="/assets/OIP.jpg" alt="foo">
        <input class="disabled-checkbox" type="checkbox" onclick="return false">
      </div>
    </li>
    <li>
      <div class="image-box">
        <img class="image" src="/assets/OIP8.jpg" alt="foo">
        <input class="disabled-checkbox" type="checkbox" onclick="return false">
      </div>
    </li>
    <li>
      <div class="image-box">
        <img class="image" src="/assets/OIP2.jpg" alt="foo">
        <input class="disabled-checkbox" type="checkbox" onclick="return false">
      </div>
    </li>
    </ul>
  </div>
</div>