<h1>写真詳細</h1>


<div class="flex-4">

    <%= image_tag "#{@picture.place}" %>

</div>

<%= link_to 'Destroy', @picture, method: :delete, data: { confirm: 'Are you sure?' } %>

<div class="over">
  <%= link_to ("/pictures/myup2") do %>
    <button> 　　戻る 　　</button>
  <% end %><br>
</div>