<h1>ホーム画面</h1> 


<%= link_to ("/pictures/myup2") do %>
  <button>自分が投稿した写真</button>
<% end %><br>
<%= link_to ("/pictures/allup") do %>
  <button>　　全ての写真　　</button>
<% end %><br>
<%= link_to ("/pictures/new") do %>
  <button> 　　画像 UP！ 　　</button>
<% end %><br>


<% if user_signed_in? %>
  <p><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></p>
<% end %>
