<h1>ホーム画面</h1>
<%= link_to ("/pictures") do %>
  <button>ログアウト</button>
<% end %><br>
<%= link_to ("/pictures") do %>
  <button>マイアップ写真</button>
<% end %><br>
<%= link_to ("/pictures") do %>
  <button>写真確認</button><br>
<% end %>

