<h1>ホーム画面</h1>
<%= link_to ("/pictures") do %>
  <button>ログアウト</button>
<% end %><br>
<%= link_to ("/pictures") do %>
  <button>マイアップ写真</button>
<% end %><br>
<%= link_to ("/pictures") do %>
  <button>写真確認</button><br>
<% end %>
<div>
  <input class="favorite style change-class" id="A" type="button" value="1">
  <input class="favorite style change-class" id="B" type="button" value="2">
  <input class="favorite style change-class" id="C" type="button" value="3">
</div>
<div id="content-field">
</div>

