<h1>投稿しました！</h1>

<% @tag.each do |t| %>
  <p><%= t.name %></p>
<% end %>


<%= link_to ("/pictures/studenthome") do %>
  <button> 　　ホームに戻る 　　</button>
<% end %><br>
<%= link_to ("/pictures/new") do %>
  <button> 　　もう一枚投稿 　　</button>
<% end %><br>
